/*PÁGINA HTML*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Inter';
    color: #2C2C2C;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    overflow: hidden;

    background-image: url('images/image-fundo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*container geral*/
.container {
    position: relative;
    height: 550px;
    width: 800px;

    display: flex;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    border: 2px solid rgb(254, 248, 248, 0.2);
}







/*JANELA DE MENU*/
.inner-container {
    width: 220px;

    background-color: rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgb(254, 248, 248, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.inner-container.hidden {
    display: none;
}

/*botão para abrir e fechar menu*/
.menu-header {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.arrow-symbol {
    position: absolute;
    top: 43%;
    margin-left: -10px;
    transition: transform 0.1s ease;
}

.arrow-symbol.open {
    transform: translate(-20%, -20%) rotate(180deg);
}

.arrow-symbol.open + .inner-container {
    display: none;
}

.arrow-symbol:hover {
    opacity: 70%;
}
.arrow img {
    width: 80px;
    height: auto;
    margin-left: -25px;
}

.arrow img:hover {
    opacity: 70%;
}

/*botões de acesso*/
.menu-acessibilidade {
    width: 50%;
    height: 40%;

    transform: translate(10px, -50px);

    list-style-type: none;
}

.menu-acessibilidade img {
    display: flex;
    width: 25%;

    margin-left: -12px;
    transform: translate(-5px, 20px);
}

.menu-acessibilidade li {
    cursor: pointer;

    font-weight: 500;
    font-size: 12px;
  

    width: 90px;
    transform: translateY(-15px);
}

.menu-acessibilidade button {
    background-color: transparent;
    border: none;
}

.menu-acessibilidade button:hover{
    opacity: 50%;
}

/*botão de usuario*/
.perfil-avatar {
    width: 50%;
    height: 15%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    transform: translateY(-85px);
    cursor: pointer;

    background-color: transparent;
    border: none;

    font-weight: 600;
}

.perfil-avatar img {
    width: 50px;
    padding-bottom: 10px;
}


/*logo*/
.logo-juice {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;

    width: 50px;
    height: 50px;
    transform: translate(-30px, -120px);
}

.icon-logo {
    width: 70px;

    transform: translate(20px, -2px);

    opacity: 60%;
}

/*icons de redes sociais*/
.icons-sociais {
    width: 45%;
    margin-bottom: -130px;
}






/*JANELA PRINCIPAL*/
.containerMain {
    width: 90%;
}

/*search*/
.barContainer {
    width: 100%;
    height: 10%;

    transform: translateY(15px);

    display: flex;
}

.menu-bar {
    list-style-type: none;
}

.search-bar input {
    padding: 3px;

    width: 70%;

    background-color: transparent;
    border-radius: 2rem ;
    border-width: 1px;

    padding-left: 35px;
}

#searchInput {
    font-size: 12px;
}

.search-bar span {
    cursor: pointer;

    transform: translate(30px, 7px);
    
    font-size: 21px;
}


/*barra de menu*/
.menu-bar {
    width: 50%;
    transform: translateY(3px);
}

.menu-bar li {
    margin-right: 15px;

    font-weight: 600;
}

.menu-bar li:hover {
    color: #694167;
}

.menu-bar button {
    cursor: pointer;

    background-color: transparent;
    border: none;
}

/*icone shopping cart*/
#shoppingCart {
    font-size: 22px;
    font-weight: 200;

    transform: translate(-15px, 3px);

    cursor: pointer;
}
    
    
/*informação do produto*/
.info-products {
    display: flex;
}


.informations {

    width: 50%;
    height: 250px;

    transform: translateY(30px);
}

.informations h2 {
    padding-left: 10px;

}

.informations ul {
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.listIngredients {
    padding: 10px;
}

.listIngredients li {
    background-color: rgba(255, 255, 255, 0.6);

    width: 30%;
    margin-right: 10px;    
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    font-weight: 600;


    border-radius: 10px;
    

    cursor: default;

}

.informations p {
    font-size: 10px;
    font-weight: 400;

    padding: 15px;

}

.listPrice {
    padding: 10px;
}

.listPrice button {
    cursor: pointer;

    margin-right: 20px;
    width: 25%;
    height: 50px;

    background-color: white;
    border: none;
    border-radius: 5px;

}

.listPrice button:hover{
    background-color: rgba(202, 199, 199, 0.2);
}

.listPrice li {
    font-weight: 600;
    font-size: 12px;
}

.listPrice .price {
    color: #EE5E20;
}


/*imagem do produto*/

.products {
    height: 300px;
    width: 50%;
    transform: translate();
}

.products img {
    width: 80%;
    transform: translateY(40px);

}

.products button {
    background-color: transparent;
    transform: translate(128px, 40px);

    padding: 5px;

    border-width: 1px;
    border-radius: 5px;
    border-color: #2C2C2C;

    cursor: pointer;
}

.products button:hover {
    background-color: rgba(179, 165, 180, 0.2);
}

.products span {
    transform: translate(30px, -180px);
    cursor: pointer;
}

.products span:hover {
    color: #EE5E20;
}

